---

---
<footer style="background-color: #02151c; color: #fbfbfb; padding: 1rem; text-align: center;">
    <div style="display: flex; justify-content: space-between; align-items: center; max-width: 1200px; margin: 0 auto">
        <div style="flex: 1;">
            <a href="/">
                <img src="/logo.png" alt="Logo" style="height: 150px; margin-left: 5rem;">
            </a>
        </div>
        <div style="flex: 3; display: flex; justify-content: space-around;">
            <div style="text-align: left;">
                <h2 style="margin-bottom: 0.5rem; font-size: 20px;">Nous contacter</h2>
                <nav>
                <h4 style="display: block; margin-bottom: 0.25rem;">30-32 av. de la République</br>94800 Villejuif</h4>
                <h4 style="display: block; margin-bottom: 0.25rem;">01 88 28 90 00</h4>
                <h4 style="display: block; margin-bottom: 0.25rem;">dede.dupont@gmail.com</h4>
                </nav>
            </div>
            <div style="text-align: left;">
                <h2 style="margin-bottom: 0.5rem; font-size: 20px;">Navigation</h2>
                <nav>
                <a href="/" style="display: block; margin-bottom: 0.25rem;">Accueil</a>
                <a href="/Prochains événements" style="display: block; margin-bottom: 0.25rem;">Prochains événements</a>
                <a href="/Comparateur" style="display: block; margin-bottom: 0.25rem;">Comparateur</a>
                <a href="/Classement" style="display: block; margin-bottom: 0.25rem;">Classement</a>
                </nav>
            </div>
        </div>
    </div>
</footer>
  