---
import Layout from "../../astro/layouts/Layout.astro";
import Card from "../../components/Card.astro";
import "../../styles/global.css";
import Exemple from "../../react/components/Exemple";
---

<Layout title="Prochains événements">
  <h1>Prochains événements</h1>
</Layout>
