---
import Layout from "../astro/layouts/Layout.astro";
import Card from "../components/Card.astro";
import "../styles/global.css";
import "../styles/home.css";
import Exemple from "../react/components/Exemple";
---

<Layout title="Home">
  <!-- Section Héroïque -->
  <section class="hero">
    <div class="container">
      <img src="/home_left.png" alt="Left Image" class="hero-image left-image" />
      <div class="hero-content">
        <h1>Transformez vos paris sur le MMA grâce à l'intelligence artificielle</h1>
        <p>PariFree combine analyse approfondie, prédiction par machine learning et meilleures cotes pour maximiser vos gains.</p>
        <a href="/Comparateur" class="cta-button">Découvrez notre solution</a>
      </div>
      <img src="/home_right.png" alt="Right Image" class="hero-image right-image" />
    </div>
  </section>

  <!-- Section Fonctionnalités -->
  <section class="features">
    <div class="container">
      <h2>Fonctionnalités Clés de PariFree</h2>
      <ul>
        <li>
          <h3>Analyses Approfondies</h3>
          <p>Accédez à des analyses détaillées et pertinentes pour chaque match de MMA, fournies par nos experts en utilisant les dernières technologies de data science et d'analyse prédictive. </p>
        </li>
        <li>
          <h3>Modèle Prédictif Avancé</h3>
          <p>Notre algorithme analyse en continu les performances passées et actuelles des combattants pour vous fournir des prédictions précises et fiables.</p>
        </li>
        <li>
          <h3>Calendrier des Événements</h3>
          <p>Ne manquez aucun combat grâce à notre calendrier complet des événements MMA.</p>
        </li>
      </ul>
    </div>
    
  </section>

  

</Layout>
