---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import "../../styles/global.css";
import Exemple from "../../react/components/Exemple";
---

<html>
  <head>
    <title>Astro with React and Tailwind</title>
  </head>
  <body>
    <h1 class="text-2xl font-bold text-center mt-8">
      Welcome to Astro with React and Tailwind CSS
    </h1>
    <Exemple />
  </body>
</html>
